  /*FONTS */
@font-face {
	font-family: MyriadProBold;
	src: url("../fonts/custom/MyriadPro-Bold.otf") format("opentype");
}
@font-face {
	font-family: MyriadProLight;
	src: url("../fonts/custom/MyriadPro-Light.otf") format("opentype");
}

@font-face {
	font-family: MyriadProRegular;
	src: url("../fonts/custom/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: MyriadProSemibold;
	src: url("../fonts/custom/MyriadPro-Semibold.otf") format("opentype");
}


body{
 	/*background-color: #eee;*/
 	font-family: MyriadProRegular;
 	color: #b9b7ba;
 }

/* Top header with images */
/*---------------------------------------------------------------------------------*/
.custom-header{
    padding-left:0;
    padding-right:0;
}

.custom-header img{
	padding:0px;
}

.main_heading_group{
    position: absolute;
    color: white;
    left: 43%;
    top: 8vw;
    /* width: 580px; */
    line-height: 3.0vw;
}

/*@media (min-width: 768px) {
    body > div.custom-header.container-fluid > div > p.main_heading{
    	font-size: 4em;
    	top: 60px !important;
    }
}
@media (min-width: 992px) {
    body > div.custom-header.container-fluid > div > p.main_heading{
    	font-size: 4.5em;
    }
}
@media (min-width: 1200px) {
    body > div.custom-header.container-fluid > div > p.main_heading{
    	font-size: 5.5em;
    	top: 70px !important;
    }
}
@media (min-width: 1600px) {
    body > div.custom-header.container-fluid > div > p.main_heading{
    	font-size: 7em;
    	top: 110px !important;
    }
}
*/
.main_heading_group .main_heading{
	font-family: MyriadProSemibold;
    font-size: 4.8vw;
    display: block;
}

.main_heading_group .sub_heading_1{
	font-family: MyriadProRegular;
    font-size: 2.6vw;
    display: block;
    margin-top: 14px;
    /* font-weight: lighter; */
}

.main_heading_group .sub_heading_2{
    font-family: MyriadProLight;
    font-size: 2.4vw;
    display: block;
}
/*---------------------------------------------------------------------------------*/

/* Main container of page*/
/*---------------------------------------------------------------------------------*/

.container{
	background-color: #fff;
}

.container .row{
	/*overriding grid-framework property*/
	margin-left: 0px; 
}

.container .first_panel{
	margin-top: 50px;
}

.container .first_panel .top_panel_heading_1{
	font-family: MyriadProSemibold;
	color: #97c21c;
	font-size: 3em;
}
.container .first_panel .top_panel_heading_2{
	font-family: MyriadProRegular;
	color: #97c21c;
	font-size: 1.5em;
	margin-top: -10px;
}

.separator{
	width: 90px;
    height: 5px;
    background: #ABABAB;
    margin-top: 40px;
}

.container .first_panel .top_panel_content{
    font-family: MyriadProLight;
    margin-top: 15px;
    color: #ABABAB;
    font-size: 1.3em;
    font-weight: bold;
}

.line_diagonal{
	background: repeating-linear-gradient(
		45deg,
		#fff 10px,
		#E0E0E0 16px
	);
	width: calc(100% + 30px);
    height: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: -15px;
}


.first_panel .left_col .top_panel_content{
	padding-right: 145px;
}
.first_panel .middle_col .top_panel_content, .first_panel .right_col .top_panel_content{
    padding-right: 80px;
}

/*-------------------------------------------------------------------------------*/

/* Brands Panel */
/*-------------------------------------------------------------------------------*/

.panel_brands .top{
	width: 70%;
}
.panel_brands .top h1{
	font-family: MyriadProSemibold;
	font-size: 4.8em;
	color: #b9b7ba;
}
.panel_brands .top p{
	font-family: MyriadProLight;
    font-size: 2.5em;
    color: #b9b7ba;
    margin-top: -20px;
}

.bg_green{
	background-color: #97c21c;
}

.panel_brands .bottom div:first-child{
	color: #97c21c;
	font-size: 1.3em;
	font-family: MyriadProRegular;
}

.panel_brands .bottom img{
	margin-top: 15px;
	width: 100%;
}

.panel_brands .bottom .pull-down{
	display: table-cell;
	vertical-align: bottom;
	float: none;
}

.panel_brands .bottom p{
	margin-top: 12px;
	padding-right: 100px;
}
/*-------------------------------------------------------------------------------*/



/* wenatex Panel */
/*-------------------------------------------------------------------------------*/

.col_full_width{
	padding-left: 0px;
	margin-left: -15px;
}

.panel_wenatex .row img{
	width:calc(100% + 30px);
}

.panel_wenatex .top_header{
	margin-top: 30px;
}

.panel_wenatex .row .top_header h1{
	font-family: MyriadProSemibold;
	color: #97c21c;
	font-size: 3.5em;
}
.panel_wenatex .row .top_header p{
	font-family: MyriadProRegular;
	color: #97c21c;
	font-size: 1.5em;
	margin-top: -10px;
}

.panel_wenatex .row .bottom_content{
    font-family: MyriadProRegular;
    margin-top: 15px;
    color: #ABABAB;
    font-size: 1.5em;
    text-align: justify;
    margin-bottom: 30px;
}

button{
    font-family: MyriadProSemibold;
	background: none;
	cursor: pointer;
	background-color: #97c21c;
	height: 80px;
	min-height: 80px;
	color: #fff;
	border: none;
	margin: 0px;
	padding: 0px 15px 0px 15px;
	font-size: 2em;
	border: 3px solid #fff;
}




/*-------------------------------------------------------------------------------*/



/* begin Panel */
/*-------------------------------------------------------------------------------*/

.panel_begin{
	margin-top: 30px;
}

.panel_begin .col_full_width{
	background-color: #c6125f;
	height: 450px;
	width: calc(100% + 15px);
}

.panel_begin .col_full_width h1{
    font-family: MyriadProSemibold;
    color: #fff;
    font-size: 5em;
    margin-bottom: 30px;
}

.panel_begin .row div:first-child{
	display: table;
    table-layout: fixed;
}

.panel_begin .row div:first-child div{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.panel_begin_image img{
	margin-top: 35px;
	width: calc(100% + 30px);
}



/*-------------------------------------------------------------------------------*/



/* offer Panel */
/*-------------------------------------------------------------------------------*/

.panel_offer{
	margin-top: 40px;
}

.panel_offer .left_offer{
	background-color: #97c21c;
	width: calc(50% - 15px);
	padding-bottom: 30px;
	margin-bottom: 15px;
}

.panel_offer .left_offer h3, .panel_offer .right_offer h3{
	color: #fff;
	font-size: 3em;
	font-family: MyriadProLight;
	margin-top: 50px;
}

.panel_offer ul{
	color: white;
	font-size: 1.4em;
	padding-left:0;
	margin-left: 27px;
	margin-top: 10px;
}

.panel_offer .left_offer div:first-child, .panel_offer .right_offer div:first-child{
	width:70%;
	position: relative;
	margin:auto;	
}

.panel_offer ul li{
    display: block;
    font-family: MyriadProLight;
}
.panel_offer ul li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-weight: lighter;
    font-size: 14px;
    float: left;
    margin-top: 5px;
    margin-left: -28px;
    color: #fff;
}

.panel_offer .right_offer{
	background-color: #b9b7ba;
	margin-left: 15px;
	width: calc(50% - 15px);
	padding-bottom: 30px;
	margin-bottom: 15px;
}

.bg_white{
	background-color: #fff;
}

/*-------------------------------------------------------------------------------*/



/* form Panel */
/*-------------------------------------------------------------------------------*/

.panel_form h1{
	color: #c6125f;
	font-family: MyriadProRegular;
}

.panel_form .row .img_heading{
	margin-bottom:30px;background-image: url('../img/form_header.png');background-repeat: no-repeat;background-size: 100% 100%;
}

.panel_form .row .img_heading img{
	visibility: hidden; width: 100%;
}

.panel_form .left_side .heading{
	color: #B3B3B3;
	font-family: MyriadProSemibold;
    font-size: 1.7em;
	margin-bottom: 26px;
}

.panel_form .input_label{
	color:#c2c1c3;
	font-family: MyriadProRegular;
	font-size:1.5em;
	padding-left:0px;
	padding-top: 15px;
}

.panel_form input[type=text], .panel_form textarea{
	background-color: #b9b7ba;
	width: 100%;
	height: 50px;
	border: none;
	margin-bottom: 15px;
	color: #fff;
	font-family: MyriadProRegular;
	font-size: 2em;
	padding-left: 10px;
	padding-right: 10px;
}

.panel_form input.plz{
	width: 30%;
	margin-right: 5%;
	float: left;
}
.panel_form input.ort{
	width: 65%;
}

.radio_circle{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #b9b7ba;
	float: left;
	cursor: pointer;
}

.radio_circle_selected{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #fff;
	margin: auto;
	position: relative;
	top:25%;
}

.radio_button{
	cursor: pointer;
	padding-left: 0px;
	margin-top: 2px;
}

.radio_label{
	color: #b9b7ba;
	font-family: MyriadProRegular;
	font-size: 1.4em;
	margin-left:8px;
}

.panel_form .right_side h4{
	font-family: MyriadProSemibold;
    color: #B3B3B3;
    font-size: 1.7em;
}

.panel_form .right_side p{
    font-family: MyriadProRegular;
    color: #c2c1c3;
    font-size: 1.4em;
    margin-top: 25px;
    padding-right: 30px;
}

.panel_form .right_side .radio_button .col-sm-4{
	padding-left: 0px;
	padding-top: 10px;
}

.panel_form textarea{
	width: calc(100% - 30px);
	height: 200px;
}


.panel_footer{
	margin-left: -15px;
	width: calc(100% + 30px);
	margin-bottom: 60px;
}

.panel_footer .impressum{
	padding-left: 0px;
	font-size: 1.3em;
}

.pull-down{
/*	display: table-cell;
  vertical-align: bottom;
  float: none;*/
}